@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import-normalize;
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

figure {
  margin: 0;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #19191d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  background: #f7f7fa;
  height: 100vh;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}