.roleContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .box {
    display: flex;
    flex-direction: column;
    height: 50vh;
    background: #ffffff;
    border: 1px solid #d2d2d6;
    border-radius: 8px;
    padding: 10px;
  }
  .title {
    font-size: 16px;
    font-weight: 700;
  }
  .subTitle {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 500;
  }
  .itemContainer {
    margin-top: 10px;
    flex-grow: 1;
    .title {
      font-size: 16px;
    }
  }
}
